.App {
  font-family: 'Lato', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;

}

button{
  font-size: 28px;
}




a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
i{
  color: white;
}

.logo{
  height: 400px;
  width: 400px;
  justify-content: center;
  margin: 0%;
  text-align: center;
}

Link{
justify-content: left ;
}

.cajaText {
  width:100%;
  display: flex;
  justify-content: start;
}

.cajaContenedor {
  text-align: start;
}

.h2 {
  margin-bottom: 10px;
}